<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <style>
                h1 {
                    font-size: 30px;
                }
                .introduction {
                    font-size: 24px;
                }
                .game-line {
                    display: flex;
                }
                .game-cell {
                    flex: 1 1 0;
                    margin: 10px;
                    border: 2px solid black;
                    background-color: lightblue;
                    aspect-ratio: 1;
                }
                .game-cell.active {
                    background-color: lightgreen;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            <script type="application/javascript">
                document.addEventListener("DOMContentLoaded", () => {
                    document.querySelectorAll(".game-cell").forEach(cell => {
                        cell.addEventListener("click", (event) => {
                            cell.classList.toggle("active")
                        })
                    })
                })

                // Enable keyboard navigation with game cells (also see tabindex below)
                document.onkeydown = (e) => {
                    if (e.key === "Enter" || e.key === " ") {
                        document.activeElement.click();
                    }
                };
            </script>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Pocket Nono</h1>

            <p class="introduction">This is a <a href="https://en.wikipedia.org/wiki/Nonogram">Nonogram</a>. The game
                is resolved once the correct number of fields are activated in each line and column.
            </p>
        </header>

        {% block body %}
            <div class="game-board">
                {% for line in 1..lineCount %}
                    <div class="game-line">
                        {% for column in 1..columnCount %}
                            <div class="game-cell {% if gameState.isActive(line, column) %}active{% endif %}" tabindex="0"
                                 title="{% if gameState.isActive(line, column) %}active{% else %}inactive{% endif %} game field"
                            >
                                &nbsp;
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        <footer>
            {% if messages | length > 0 %}
                <h3>Log messages so far:</h3>
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </footer>
    </body>
</html>
